.notificaciones {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-width: 45%;  /* Ajusta según tus preferencias */
    z-index: 1000;  /* Ajusta según la necesidad de superposición */
  }
  
  .notificacion-item {
    margin-bottom: 0.5rem;
    /* Agrega otros estilos según tus preferencias */
  }

  :host ::ng-deep .p-tabview .p-tabview-panels {
    /* Tus ajustes personalizados aquí */
    background: #a09e9e;
    padding: 1rem;
    margin-top: 2px;
    border-radius: 4px;
  }

  :host ::ng-deep .p-component, .p-component * {
    margin:10px;
  }